<div id="faq">
  <div class="container">
    <h1>FAQ</h1>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>What is Jubist?</h4>
      <p>Jubist is a community-based streaming service built on top of Spotify. It's also a fun word to say. Jubist. Jubist Juuuuuuuubist.</p>
    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>How does Jubist work?</h4>
      <p>At Jubist, you choose the music. Each room in Jubist has a different theme and users can either submit song requests, vote on what songs gets played next, or simply just chill and let the community choose the music for you. You can also talk to other people in the same room at any time; at Jubist we care about making connections. Sign up <a href="/signup">here</a> to get started.</p>
    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Who created Jubist?</h4>
      <p>The Jubist Team consists of Oliver Cheok, a Computer Science major currently in his sophomore year at the National University of Singapore.</p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
