<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <div class="container text-center">
      <div class="hero-image">
        <img class="sky" alt="The sky above the ocean" src="/images/hero-sky.png"/>
        <img class="cloud cloud-1" alt="A grayish-blue cloud" src="/images/hero-cloud.png"/>
        <img class="cloud cloud-2" alt="Another grayish-blue cloud" src="/images/hero-cloud.png"/>
        <img class="ship" alt="The Jubist logo hovering a few feet over the surface of the water" src="/images/hero-ship.png"/>
        <img class="water" alt="The shadow of the logo on the water" src="/images/hero-water.png"/>
      </div>
      <h1 class="display-4">music gone social</h1>
      <div>
        <div class="more-info-text" @click="clickHeroButton()">
          <div class="text">Dive in</div>
          <div class="icon">&darr;</div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-wrapper" role="scroll-destination">
    <div class="container">
      <div class="about text-center">
        <h3>Listening to music done differently</h3>
        <p>At Jubist, we believe that music brings people together. Whether you're rocking out at a concert or just chilling with friends, music creates a bond topped maybe only by pizza. We built this platform to grow and nurture these networks. Jubist is a community-based radio built on top of Spotify, where the people choose the music.<br/>This is listening to music done differently.<br/><br/>This is Jubist.</p>
      </div>
      <div class="features text-center">
        <div class="row">
          <div class="feature pt-4 pt-sm-0 col-sm">
            <div class="icon">
              <i class="fa fa-users"></i>
            </div>
            <h4>Community</h4>
            <p class="text-muted">Join different rooms and listen to music loved by others with similar tastes.</p>
          </div>
          <div class="feature mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <i class="fa fa-comments"></i>
            </div>
            <h4>Chat</h4>
            <p class="text-muted">Built-in support for real-time messaging for meaningful discussion in each room.</p>
          </div>
          <div class="feature pt-4 pt-sm-0 mb-4 mb-sm-0 col-sm">
            <div class="icon">
              <i class="fa fa-list"></i>
            </div>
            <h4>Vote</h4>
            <p class="text-muted">Submit song requests and vote on what plays next. At Jubist, you are the DJ.</p>
          </div>
        </div>
        <a class="btn btn-outline-info mt-5" href="/faq">Learn more</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="pep-talk text-center">
      <h3>Happy listening!</h3>
      <p>At Jubist, we love music. We also love pizza, dogs and rainy Sunday mornings.<br/>But more than anything, we love bringing people together.<br/><a href="/signup">Sign up now to join the Jubist family.</a><br/><br/>May your Airpods forever be charged.</p>
      <p class="text-center">The Jubist Team</p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
